{% extends "base.html" %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Created at</th>
      <th>User level</th>
      {% if is_admin %}
      <th>Actions</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.first_name }} {{ user.last_name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.created_at }}</td>
      <td>{% if user.level == 9 %}Admin{% else %}Normal{% endif %}</td>
      {% if is_admin %}
      <td>
        <a href="{% url 'admin_edit_user' user.id %}">edit</a>
        <a href="{% url 'admin_remove_user' user.id %}">remove</a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock %}
